<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Equipo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="team.length > 0">
<ion-item *ngFor="let pokemon of team">
  <ion-thumbnail slot="start">
    <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
  </ion-thumbnail>
  <ion-label>
    <h2>Nombre: {{ pokemon.name }}</h2>
    <h2>Posición: {{ pokemon.position }}</h2>
    <p>HP: {{ pokemon.hp }}</p>
    <p>Nivel: {{ pokemon.level }}</p>
    <p *ngFor="let stat of pokemon.stats">
      {{ stat.name | uppercase }}: {{ stat.value }}
    </p>
  </ion-label>
  <ion-button slot="end" color="primary" [routerLink]="['/tabs/tab3', pokemon.id]">
    Editar
  </ion-button>
  <ion-button slot="end" color="danger" (click)="removeFromTeam(pokemon.id)">
    Eliminar
  </ion-button>
</ion-item>

  </ion-list>

  <ion-text *ngIf="team.length === 0" color="medium">
    <p class="ion-text-center">Tu equipo está vacío. Agrega Pokémon desde la Tab1.</p>
  </ion-text>
</ion-content>
